:root {
  --white-color: #ffffff;
  --blue-color: hsl(251, 100%, 67%);
  --text-color: #605d6c;
  --black-color: #000000;
  --title-color: #121116;
  --primary-color: hsl(44, 100%, 97%);
  /**
   * colors
   */

  --maximum-yellow-red: hsl(37, 100%, 68%);
  --royal-blue-dark: hsl(231, 61%, 22%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: hsl(2, 100%, 69%);
  --french-rose: hsl(342, 90%, 61%);
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-sarif;

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;
}

/* RESET CSS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
button,
span,
ion-icon,
label,
input,
textarea {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

textarea,
input {
  font: inherit;
  background: none;
  border: none;
  width: 100%;
}

:is(input, textarea):focus {
  outline: none;
}

:focus {
  outline-offset: 4px;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

.grid {
  width: 1260px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
